body{
	margin-left: 7rem;
	margin-right: 7rem;
	margin-bottom: 7rem;
	background-image: url("Images/background1.jpg");

}

nav{
    justify-content: space-between;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  display: flex;
  justify-content: space-between;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 0.7rem 2rem;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #04AA6D;
}

.image{
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.menu_info{
	height: auto;
	margin-top: 3.125rem;
	background-color: #f4efe1;
    text-align: center;
    padding-top: 3.125rem;
    padding-bottom: 3.125rem;
}

#heading{
	padding: .3rem;
	color: white;
	font-family: "Times New Roman", Times, serif;
	font-size: 1.5rem; 
	background-color: #e87330;
	width: auto;
	display: inline-block; 
}

#heading p{
	border: .1rem solid white;
	padding: 1rem 1.5rem 1rem 1.5rem;
	margin: 0;
}


html {
  scroll-behavior: smooth;
}


.menu_bar {
  position: sticky;
  top: 0;

}
.menu_bar .container {
  width: 90%;
  max-width: 1000px;
  margin: 0 auto;
  text-align: center;
  padding: 10px;
  margin-bottom: 2rem;
  border-top: 2px solid #C0A891;
  border-bottom: 2px solid #C0A891;
}

.menu_bar .container ul{
	background-color: #f4efe1;
	display: flex;
	justify-content: center;

}

.menu_bar .container ul li {
  display: inline-block;
}
.menu_bar .container ul li a {
  display: inline-block;
  text-decoration: none;
  padding: 10px 20px;
  color: black;
}
.menu_bar .container ul li.active {
  background-color: #e87330;
  transition: 0.3s ease background-color;
}
.menu_bar .container ul li.active a {
  color: rgb(255, 255, 255);
}

section {
  height: auto;
  width: 100%;
  text-align: left;
  padding: 3.3rem 3.3rem 3.3rem 3.3rem;
  text-transform: uppercase;
}
section h1{
	border-bottom: 2px solid #C0A891;
	padding-bottom: 1rem;
}

.cookie_item, .cake_item, .chocolate_item, .ice-cream_item, .cake-sticks_item, .brownie_item{
	border: 1px solid #C0A891;
	margin-top: 2rem;
	display: inline-flex;

}
.item_des, .item_image{
	margin: 2px;
	display: inline-block;
}


.item_des h3{
  max-width: 250px;
}


.block{
	display: flex;
	justify-content: space-between;
  flex-wrap: wrap;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #f4efe1;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 50%;
  color: #3A1C13
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.buttons{
	display: inline-block;
}

/* -- quantity box -- */

.quantity {
 display: inline-block; }

.quantity .input-text.qty {
 width: 35px;
 height: 39px;
 padding: 0 5px;
 text-align: center;
 background-color: transparent;
 border: 1px solid #efefef;
}

.quantity.buttons_added {
 text-align: left;
 position: relative;
 white-space: nowrap;
 vertical-align: top; }

.quantity.buttons_added input {
 display: inline-block;
 margin: 0;
 vertical-align: top;
 box-shadow: none;
}

.quantity.buttons_added .minus,
.quantity.buttons_added .plus {
 padding: 7px 10px 8px;
 height: 41px;
 background-color: #ffffff;
 border: 1px solid #efefef;
 cursor:pointer;}

.quantity.buttons_added .minus {
 border-right: 0; }

.quantity.buttons_added .plus {
 border-left: 0; }

.quantity.buttons_added .minus:hover,
.quantity.buttons_added .plus:hover {
 background: #eeeeee; }

.quantity input::-webkit-outer-spin-button,
.quantity input::-webkit-inner-spin-button {
 -webkit-appearance: none;
 -moz-appearance: none;
 margin: 0; }
 
 .quantity.buttons_added .minus:focus,
.quantity.buttons_added .plus:focus {
 outline: none; }

/* -- quantity box end -- */

.footer{
	margin-top: 1rem;
	background-color: #f4efe1;
  text-align: center;
  padding: 2rem;
  display: flex;
  justify-content: space-between;
}

.footer_element{
	display: inline-block;
  padding-left: 3rem;
  padding-right:3rem;
	text-align: center;
	border-right: 2px dotted;
}
.footer_element:last-child{
  border: none;

}